.bannerCarousel{
    height: 200px;
    width: 100%;
    transition: all 4s ease;
    overflow: hidden;
    margin-bottom: 1.5em;
}

.animationBannerOut{
    z-index: -2;
    animation: bannerOut ease-in 2s;
}

@keyframes bannerOut {
    0%{
        transform: translateY(0%);
    }
    25%{
        transform: translateY(-25%);
    }
    50%{
        transform: translateY(-100%);
    }
    100%{
        display: none;
    }
}

.animationBannerin{
    z-index: -2;
    animation: bannerIn ease-in 2s;
}

@keyframes bannerIn {
    0%{
        transform: translateY(-100%);
    }
    25%{
        transform: translateY(-25%);
    }
    50%{
        transform: translateY(0%);
    }
    100%{
    }
}

.carousel_box{
    width: 300%;
    height: 170px;
    display: flex;
    align-items: center;
}

.carouselImgContainer{
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.carouselImgContainer__img{
    width: 100%;
    height: auto;
    transition: all 0.4s ease;
}

.carousel_dots{
    width: 100%;
    padding: 0.4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.carousel_dot{
    cursor: pointer;
    width: 1em;
    height: 1em;
    margin: 0.5em 1em 0;
    background-color: var(--Grey);
    transition: all 0.4s ease;
    border-radius: 0.5em;
}

.activ{
    background-color: var(--Fuccia);
}

@media screen and (min-width: 768px) {
    .bannerCarousel{
        height: auto;
    }
    .carousel_box{
        height: auto;
    }
    .carouselImgContainer{
        display: block
    }
}