#menu_icon{
    position: relative;
}

.menu_container{
    background-color: var(--Purple);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top:25%;
    right: 0%;
    z-index: 1;
}

.category_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px var(--text);
}

.category_item{
    padding: 0.5rem 0.75rem;
}

.link{
    color: var(--text);
    padding: 0.5rem 0.75rem;
}

.category_item:hover, .link:hover{
    transform: scale(1.02);
    text-shadow: 
    0px 0px 5px var(--Purple),
    0px 0px 8px var(--Purple),
    0px 0px 11px var(--Purple),
    0px 0px 14px var(--Purple),
    0px 0px 17px var(--Purple),
    0px 0px 19px var(--Purple),
    0px 0px 21px var(--Purple),
    0px 0px 23px var(--Purple);
    font-weight: 600;
    cursor: pointer;
    transition: all 200ms;
}

.active_category{
    text-shadow: 
    0px 0px 5px var(--Purple),
    0px 0px 8px var(--Purple),
    0px 0px 11px var(--Purple),
    0px 0px 14px var(--Purple),
    0px 0px 17px var(--Purple),
    0px 0px 19px var(--Purple),
    0px 0px 21px var(--Purple),
    0px 0px 23px var(--Purple);
    font-weight: 600;
    text-decoration: underline;
}

.hidden{
    display: none;
}

@media screen and (min-width: 768px) {
    .userData{
        width: 90%;
        flex-wrap: nowrap;
    }
    .userInfoContainer{
        width: 30%;
    }
    #menu_icon{
        display: none;
    }
    .menu_container{
        width: 90%;
        background-color: transparent;
        position: static;
        margin-left: 1rem;
    }
    .category_container{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .category_item{
        padding: 0 0.75rem;
    }

    .active_category{
        text-decoration: none;
    }
    
}