#menu_icon{
    position: relative;
}

#menu_icon:hover{
    
    cursor: pointer;
    filter: drop-shadow(0 0 10px #7610AF,
    0 0 20px #7610AF,
    0 0 40px #7610AF,
    0 0 80px #7610AF,
    0 0 160px #7610AF);
}

.menu_container{
    background-color: var(--Purple);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 130px;;
    right: 0%;
    z-index: 1;
}

.category_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: solid 1px var(--text);

}

.category_item{
    padding: 0.5rem 0.75rem;
}

.category_item:hover{
    transform: scale(1.02);
    text-shadow: 
    0px 0px 5px var(--Purple),
    0px 0px 8px var(--Purple),
    0px 0px 11px var(--Purple),
    0px 0px 14px var(--Purple),
    0px 0px 17px var(--Purple),
    0px 0px 19px var(--Purple),
    0px 0px 21px var(--Purple),
    0px 0px 23px var(--Purple);
    font-weight: 600;
    cursor: pointer;
    transition: all 200ms;
}

.active_category{
    text-shadow: 
    0px 0px 5px var(--Purple),
    0px 0px 8px var(--Purple),
    0px 0px 11px var(--Purple),
    0px 0px 14px var(--Purple),
    0px 0px 17px var(--Purple),
    0px 0px 19px var(--Purple),
    0px 0px 21px var(--Purple),
    0px 0px 23px var(--Purple);
    font-weight: 600;
    text-decoration: underline;
}

.hidden{
    transition: all 4s ease-in-out;
    display: none;
}
@media screen and (max-width: 767px) {
    .contact-window{
        bottom: 1rem;
        left: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .userData{
        width: 90%;
        flex-wrap: nowrap;
    }
    .userInfoContainer{
        width: 30%;
    }
    .container-menu{
        display: none;
    }
    #menu_icon{
        display: none;
    }
    .contact-window{
        bottom: 1rem;
        right: 1rem;
    }
    .menu_container{
        position: static;
    }
    .category_container{
        height: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0.4rem;
    }

    .category_item{
        padding: 0 0.75rem;
    }

    .active_category{
        text-decoration: none;
    }
    
}